<form method="post" action="{{ path('app_todolist_delete', {'id': todolist.id}) }}" onsubmit="return confirm('¿Estas segura que quieres eliminar esta tarea?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ todolist.id) }}">

    <button class="borrar">
    <img class='task-actions' src={{asset('./media/borrar(2).png') }}>
    </button>
</form>
