{% block body %}

<div class='formulario-1 form-label'>
{{ form_start(form) }}

{{ form_widget(form) }}

<div class='guardar'>
    <button class="btn">{{ button_label|default('Guardar') }}</button>
</div>
</div>
{{ form_end(form) }}
{% endblock %}
