{% extends 'base.html.twig' %}

{% block title %}Edit Todolist{% endblock %}

{% block body %}
    <h1>Edit Todolist</h1>

    {{ include('todolist/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_todolist_index') }}">back to list</a>

    {{ include('todolist/_delete_form.html.twig') }}
{% endblock %}
