{% extends 'base.html.twig' %}


{% block body %}
    <h1 class="TitleNew">EDITA TAREA</h1>
    <div class='formulario-1'>
    {{ include('todolist/_form.html.twig', {'button_label': 'Actualizar'}) }}
    
{# 
    <a href="{{ path('app_todolist_index') }}">back to list</a> #}
    <div class='formulario-2'>
    {{ include('todolist/_delete_form.html.twig') }}
    </div>
{% endblock %}
