{% extends 'base.html.twig' %}

{% block title %}New Todolist{% endblock %} 

{% block body %}

    <h1 class="TitleNew">CREA TU NUEVA TAREA</h1>
    <div class='formulario'>

    {{ include('todolist/_form.html.twig') }}

    </div>
{% endblock %}
